/* font style van alle elementen */
html {
    font-family: Arial, "Berlin Sans FB", Sans-Serif;
}

body {
    margin: 0;
}

#title {
    font-size: 35pt;
}

#payoff {
    font-size: 25pt;
}

#header {
    text-align: center;
}

/* Maak content blokken */
.main {
    margin: auto;
    padding: 8px;
    width: 80%;
    background-color: #F5F5F5;
    font-size: 15pt;
}

/* Footer per section */
.footer {
    margin: auto;
    width: 80%;
    padding: 5px;
    bottom: auto;
    background-color: #2699FB;
    text-align: right;
}

/* Footer onderaan de website */
#mainfooter {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 8px;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}

/* Maak kolommen met rijen */
* {
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

    .row:after {
        content: "";
        clear: both;
        display: block;
    }

/* Maak kolommen van 3 */
.column {
    flex: 33.3%;
    padding: 5px;
}

.column-grid {
    flex: 33.3%;
    padding: 5px;
    max-width: 33.3%;
}

/* Geef alle afbeeldingen dezelfde grootte */
.imgsize {
    width: 100%;
}

/* Menu balk */
ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #F5F5F5;
    position: relative;
    height: auto;
    overflow: auto;
}

    ul.sidenav li:first-child a {
        width: 25%;
    }

    ul.sidenav li a {
        display: block;
        color: #000;
        float: left;
        padding: 15px;
        font-family: Arial, "Berlin Sans FB", Sans-Serif;
        font-size: 15pt;
        text-decoration: none;
    }
            
            /* Kleur van niet actieve menu balk elementen */
            ul.sidenav li a:hover:not(.active) {
                background-color: #444444;
                color: white;
            }

            /* Kleur van actief menu balk element */
            ul.sidenav li:first-child a:hover:not(.active) {
                 background-color: #F5F5F5;
            }

section.content {
    margin: 10px 0 0 0;
    padding: 1px 16px;
}

/* Achtergrond video */
.BackgroundVidWrapper {
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.BackgroundVid {
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#aside {
    float: right;
}

/* Contact formulier */
#contactform {
    height: 100%;
    flex: 1 1 auto;
    margin: 0 auto;
    display: block;
}

    #contactform input {
        display: block;
    }

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Contact formulier submit button */
input[type=submit] {
    width: 100%;
    background-color: #707070;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #444444;
    }

/* Scherm afmetingen voor tablet */
@media screen and (max-width: 1280px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }

        ul.sidenav li a {
            float: left;
            padding: 15px;
        }

    /* Kolom afmetingen voor tablet */
    .column {
        flex: 50%;
    }

    .column-grid {
        flex: 50%;
        max-width: 50%;
    }

    section.content {
        margin-left: 0;
    }
}

/* Scherm afmetingen voor mobiel */
@media screen and (max-width: 480px) {
.main {
    width: 100%;
}

.footer {
    width: 100%;
}

/* Kolom afmetingen voor mobiel */
.column {
    flex: 100%;
}

.column-grid {
    flex: 100%;
    max-width: 100%;
}

    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}

/* Cookie statement */
#cookieMessage {
    z-index: 999;
    min-height: 20px;
    padding: 10px 20px;
    background: #707070;
    overflow: hidden;
    position: fixed;
    color: #FFF;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    display: block;
}

    #cookieMessage:target {
        display: none;
    }

    #cookieMessage section {
        padding: 5px 0 0;
    }

    #cookieMessage label {
        color: #ffba55;
        display: inline-block;
        padding: 0 10px;
    }

        #cookieMessage label#cookieButton {
            display: inline-block;
            color: #000000;
            font-size: 1.1em;
            background: #2699FB;
            text-decoration: none;
            cursor: pointer;
            padding: 2px 20px;
            float: right;
            border-radius: 20px;
        }

            /* Kleur van actief cookie button */
            #cookieMessage label#cookieButton:hover {
                background: #F5F5F5;
                color: #000;
            }

/* Laat cookie statement verdwijnen */
input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

input:checked + #cookieMessage {
    display:none;
}
